

h1 {
  border: $color-border solid .07em;
  border-radius: .2em;
  display: inline-block;
  font-family: $font-stack-header;
  letter-spacing: -.05em;
  padding: 0 .3em;
}

header {
  margin: 3rem 0 1rem;
  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 5rem;

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-primary;
        text-decoration: underline;
      }

      &:active,
      &:visited {
        color: $color-primary;
      }
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
  }
}

body,
p,
h2,
h3,
h4,
h5 {
  font-family: $font-stack-body;
}

a {
  color: $color-primary;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &:visited {
    color: $color-primary;
  }
}
